/* Colors ---------------------------------------------- */
$piscatGreen: #446D2E; //#42722F; //#265E04; //#336600; #4d6e2d; 
$piscatLinkGreen: #5F7C42; //#8DB766;  color of <a> links & Article Titles.
$piscatLightGreen: #BBD591; // background of main menu.
$piscatLSBMenuHover: #000000; // left hand sidebar menu hover
/* Typography ------------------------------------------ */

/* Classes ---------------------------------------------- */
.EAHide {
	height: 0px!important;
 	visibility: hidden;
 	display: none;
 	margin: 0px;
 	padding: 0px;
}